<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
			<th scope="col">Alias</th>
			<th scope="col">Rol</th>
			<th scope="col">Juego</th>
			
	</thead>
	<tbody>
		@for (personaje of personajes; track personaje) {
			<tr>
				<th scope="row">{{ personaje.id }}</th>
				<td>{{ personaje.nombre }}</td>
				<td>{{ personaje.alias }}</td>
				<td>
					<app-badge 
						[text]="personaje.rol"
						[type]="rolMap[personaje.rol]" >
					</app-badge>
				</td>
				<td>{{ personaje.juego }}</td>
				
		}
	</tbody>
</table>
